In [1]:
import pandas as pd

Всем привет!
Хочу разобрать метод **.loc**, так как это один из методов (как и `apply()`), который часто применяют в работе. 

Начнем с самого простого :) 

Буду показывать примеры работы метода на этом датафрейме:

In [2]:
d = {'col1': [1, 2, 3, 3, 5], 'col2': [3, 4, 5, 5, 7], 
     'col3': [5, 6, 7, 8, 10]}
df = pd.DataFrame(data=d)
df

   col1  col2  col3
0     1     3     5
1     2     4     6
2     3     5     7
3     3     5     8
4     5     7    10

Если мы хотим посмотреть **что содержится в строчке датафрейма**, то для этого нам пригодится метод **.loc** !

`df.loc[n]` вернет строку датафрейма с индексом `n`.

In [3]:
df.loc[0]

col1    1
col2    3
col3    5
Name: 0, dtype: int64

In [4]:
df.loc[4]

col1     5
col2     7
col3    10
Name: 4, dtype: int64

Не забываем, что датафрейм начинается с **нулевого индекса** :)

`.loc` применяют и для **фильтрации датафрейма по условию**, например:

In [5]:
df.loc[df['col1'] >= 3]

   col1  col2  col3
2     3     5     7
3     3     5     8
4     5     7    10

Получили датафрейм, в котором значения стролбца `col1` больше либо равны `3`.

Можно получить значения только одного столбца:

In [6]:
df.loc[df['col1'] >= 3, 'col1']

2    3
3    3
4    5
Name: col1, dtype: int64

Если хотим **заменить значения в столбце**, тут тоже на помощь придет `.loc`

In [7]:
df.loc[df['col1'] == 3, 'col1'] = 1000

In [8]:
df

   col1  col2  col3
0     1     3     5
1     2     4     6
2  1000     5     7
3  1000     5     8
4     5     7    10

Но можно **заменить значения в другом столбце**

In [9]:
df.loc[df['col2'] == 5, 'col3'] = 2000

In [10]:
df

   col1  col2  col3
0     1     3     5
1     2     4     6
2  1000     5  2000
3  1000     5  2000
4     5     7    10